@import 'tailwindcss';
@import '@primer/primitives/dist/css/functional/themes/light.css';
@import '@primer/primitives/dist/css/primitives.css';

@theme {
  /* Height */
  --height-15: 3.75rem;
  --width-15: 3.75rem;
}

body {
  color: var(--fgColor-default);
  background-color: var(--bgColor-default);
}
